<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
		  name="LocalDbConnection"
		  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\jack\source\repos\Schedule_Creator_V2\Schedule_Creator_V2\Data\Database1.mdf;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
