<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
		  name="LocalDbConnection"
		  connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Schedule_Creator_V2;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
		<add
		  name="LocalDbConnectionMaster"
		  connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
